VITE_APPNAME="SM Gestão Financeira 2.0"
VITE_MONOLITH_URL="http://127.0.0.1:8000/"
VITE_BASE_URL="http://127.0.0.1:8000/api/v1/"
VITE_GRANT_TYPE="password"
VITE_CLIENT_ID=""
VITE_CLIENT_SECRET=""
VITE_SCOPE=""